<div style="margin: auto; width: 70%;">    
    <h2>Employee</h2>
    <dx-button style="float: right; margin-bottom: 10px;" icon="add"
        (onClick)="addRow()">

    </dx-button>
    <dx-data-grid 
    style="display: inline-block;"
    #gridContainer
    id="gridContainer"
    width="auto"
    keyExpr="id"
    edito
    [dataSource]="dataSource" [showBorders]="true">
    <dxi-column caption="Nama" dataField="name" alignment="center" cssClass="middle-content" width="100"></dxi-column>
    <dxi-column caption="Employee NIK" dataField="nik" alignment="center" cssClass="middle-content"></dxi-column>
    <dxi-column caption="Alamat" dataField="address" alignment="center" cssClass="middle-content"></dxi-column>
    <dxi-column caption="Job Position" dataField="jobPositionId" alignment="center" cssClass="middle-content"  [setCellValue]="changevalue">
        <dxo-lookup [dataSource]="jobPosition" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column caption="Job Title" dataField="jobTitleName" alignment="center" cssClass="middle-content" >
        <!-- <dxo-lookup [dataSource]="jobTitle" displayExpr="name" valueExpr="id">
        </dxo-lookup> -->
    </dxi-column>
    <dxi-column caption="Action" cellTemplate="actionBtn" alignment="center" width="100">
        <div *dxTemplate="let t of 'actionBtn'" style="display: flex; gap: 10px;">
            <dx-button hint="Save" [visible]='t.row.isEditing' icon="save"
                [disabled]="false" (onClick)="save(t)">
            </dx-button>
            <dx-button hint="Cancel" [visible]='t.row.isEditing' icon="undo"
                [disabled]="false"(onClick)="cancel()">
            </dx-button>

            <dx-button hint="Edit" [visible]="!t.row.isEditing"
                [disabled]="false" (onClick)='edit(t.data)' icon="edit">
            </dx-button>
            <dx-button hint="Delete" [visible]="!t.row.isEditing "
                [disabled]="false" (onClick)='delete(t.data)' icon="remove">
            </dx-button>
        </div>
    </dxi-column>
    </dx-data-grid>
</div>